<!DOCTYPE html>

<html>

<head>
    <title>PDF Chatbot</title>
</head>

<body>

    <h1>PDF Chatbot</h1>

    <input type="file" id="pdfFile">

    <button onclick="uploadPDF()">
        Upload
    </button>

    <br><br>

    <input
        type="text"
        id="question"
        placeholder="Ask question"
    >

    <button onclick="askQuestion()">
        Ask
    </button>

    <h3>Answer:</h3>

    <p id="answer"></p>


    <script>

        async function uploadPDF() {

            let fileInput =

                document.getElementById(
                    "pdfFile"
                )

            let file =
                fileInput.files[0]

            let formData =
                new FormData()

            formData.append(
                "file",
                file
            )

            let response = await fetch(

                "/upload",

                {
                    method: "POST",

                    body: formData
                }
            )

            let data =
                await response.json()

            alert(data.message)
        }


        async function askQuestion() {

            let question =

                document.getElementById(
                    "question"
                ).value


            let response = await fetch(

                `/chat?question=${question}`
            )

            let data =
                await response.json()

            document.getElementById(
                "answer"
            ).innerText = data.answer
        }

    </script>

</body>

</html>